/* 
#2C3531
#116466
#D9B08C
#FFCB9A
#D1E8E2

a:link, visited {
    color: black;
}
*/
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39|Permanent+Marker');
body {
    background-color: #D9B08C;
    text-align: center;
    font-family: 'Permanent Marker', sans-serif;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a {
    font-size: 3 em;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:link {
    color: white;
}
a:hover {
    color: black;
}
h1 {
    color: #2C3531;
    font-size: 20px;
}
span {
    font-weight: bold;
    font-size: 30px; 
}
#bigFont {
    font-size: 100px;
}
class {
    
}
 