/* 
#2C3531
#116466
#D9B08C
#FFCB9A
#D1E8E2

a:link, visited {
    color: black;
}
*/
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39|Permanent+Marker');
body {
    background-color: #D9B08C;
    text-align: center;
    font-family: 'Permanent Marker', sans-serif;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a {
    font-size: 3 em;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:link {
    color: white;
}
a:hover {
    color: #2C3531;
}
h1 {
    color: #2C3531;
    font-size: 3em;
}
span {
    font-weight: bold;
    font-size: 30px; 
    color: white;
}
#bigFont {
    font-size: 100px;
}
section {
    border-style: solid; 
    border-width: thick;
    border-color: #2C3531;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2.5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
#text-center {
    text-align: center;
}
canvas {
    background-color: white;
}
 